@font-face {
	font-family: Cormorant;
	src: url('../fonts/cormorant-v11-latin_cyrillic-700.woff2') format('woff2'),
		url('../fonts/cormorant-v11-latin_cyrillic-700.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

:root {
	--main-color: #ffffff;
	--second-color: #262626;
	--one-color: #00654E;
	--two-color: #006E55;
	--three-color: #005844;
	--main-bg-color: #005844;
	--second-bg-color: #C0B487;
	--trigger-color: #E5AB39;

	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	letter-spacing: 0.04em;
	color: var(--main-color);
}

h1, h2 {
	font-family: Cormorant, serif;
	font-size: 7rem;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 1;
}

.container {
	max-width: 1290px;
	width: 92%;
	margin-inline: auto;
}