.logo {
	width: 164px;
	height: 76px;
	color: var(--main-bg-color);

	@media only screen and (width < 37.5em) { //600px
			// width: 73px;
			// height: 35px;
	}

	&__second {
		color: var(--main-color);

	}

}

// .logo__second {
// 	color: var(--main-color);
// }

